@model Entity_Razor.Helper.PagingDemo
<div class="container">
    <ul class="pagination pagination-sm">
        <!-- Nút Previous -->
        <li class="page-item @(Model.currentPage==1?"Disabled":"")">
            <a class="page-link" href="" aria-label="Previous" tabindex="-1">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>


        <!-- Các số trang -->
        @{
            for(int i=1;i<=Model.totalPage;i++){
                <li class="page-item"><a class="page-link" href="/Blog?page=@i">@i</a></li>
            }
        }
       

        <!-- Nút Next -->
        <li class="page-item @(Model.currentPage==Model.totalPage?"Disabled":"")" >
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a> 
        </li>
    </ul>
</div>
